@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    src: local('Myriad Pro'), url('fonts/myriad_pro/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Myriad Pro'), url('fonts/myriad_pro/MyriadPro-Light.woff') format('woff');
}

@font-face {
    font-family: 'Zurichbt Extended';
    src: local('Zurichbt Extended'), url('fonts/zurich_bt/Zurich__Extended_BT.ttf') format('truetype');
}

@font-face {
    font-family: 'Zurichbt Black Extended';
    src: local('Zurichbt Black Extended'), url('fonts/zurich_bt/Zurich__Ultra_Black_Extended_BT.ttf') format('truetype');
}

@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Myriad Pro'), url('fonts/myriad_pro/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: bold;
    src: local('Myriad Pro'), url('fonts/myriad_pro/MYRIADPRO-BOLD.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica LTS';
    font-style: normal;
    src: local('Helvetica'), url('fonts/helvetica_lts/HelveticaLTStd-UltraComp.otf') format('opentype');
}

@font-face {
    font-family: "Bank Gothic";
    font-style: normal;
    src: local("Bank Gothic"), url("fonts/bank_gothic/BankGothic\ Regular.ttf") format('truetype')
}

body {
    font-family: 'Myriad Pro';
    max-width: 1920px;
    margin: 0;
}

body > * {
    margin: 0 auto 0 auto;
}

.container {
    max-width: 1176px;
}

.header-top {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div {
    width: 100%;
    font-size: 14px;
}

.search {
    max-width: 186px;
}

.search input {
    max-width: 128px;
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
}

.search * {
    border: none;
    display: inline-block;
}

.search button {
    width: 14px;
    height: 14px;
}

.logo {
    width: 240px;
    height: 256px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo-bow-text {
    position: relative;
    margin-bottom: -32px;
}

.logo-bold {
    font-family: 'Helvetica LTS';
    font-style: normal;
    font-size: 64px;
}

a {
    color: black;
    text-decoration: none;
}

.subscribe {
    font-size: 14px;
    font-family: 'Dosis';
    font-weight: 600;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
}

.header-bottom div {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    max-width: 775px;
}

.header-nav a {
    font-size: 14px;
    font-family: 'Myriad Pro';
    font-weight: 600;
}

.header-nav a:hover {
    color: #ffd74a;
}

.header-contacts a {
    margin-left: 20px;
}

.header-contacts {
    width: auto;
    max-width: 200px;
    float: right;
}

.travelling-section {
    position: relative;
    width: 100%;
    height: 880px;
    color: white;
}

.travelling_bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("images/first_section_bg.png");
}

.travelling-header {
    position: relative;
    left: 40px;
    top: 150px;
    width: fit-content;
}

.travelling-header h {
    font-family: "Bank Gothic";
    font-size: 48px;
}

.travelling-header div {
    width: fit-content;
    margin: 0 auto 0 auto;
}

.travelling-header p {
    margin-left: 8px;
    display: inline;  
    font-size: 16px;
    font-weight: bold;
}

.travelling-article {
    margin: 350px auto auto 40px;
    width: fit-content;
}

.travelling-article h {
    display: block;
    font-weight: 600px;
    margin-bottom: 24px;
}

.arrow-button {
    width: 50px;
    height: 50px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;   
    border-right: 1px solid white;

    background: url('images/button_arrow.png') no-repeat center;
}

.arrow-button:focus {
    background-color: red;
}

.arrow-button-down {
    transform: rotate(180deg);
}

.travelling-article-content-left {
    float: left;
}

.travelling-article-content-right h {
    font-size: 44px;
    font-family: 'Zurichbt Black Extended';
    margin: 0px;
}

.travelling-article-content-right p {
    margin: 0px;
    font-size: 15px;
    font-weight: 300;
    margin-top: 8px;
}

.travelling-article-content-right {
    float: right;
    margin: -8px 0 0 16px;
    max-width: 500px;
}

.yellow-button {
    position: relative;
    font-family: 'Myriad Pro';
    font-weight: bold;
    text-transform: uppercase;
 
    width: 160px;
    height: 50px;
    background: #ffc908;

    border: none;
}

.yellow-button-arrow {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 24px;
    height: 24px;
    background: url('images/yellow_button_arrow.png') no-repeat center;
}

.travelling-yellow-button {
    margin-top: 30px;
    font-size: 18px;
}

.travelling-article-content-selectors {
    margin-top: 42px;
}

.travelling-article-content-selectors button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.info-section {
    height: 720px;
    width: 100%;
}

.shadowed-box {
    box-shadow: 5px 5px 2px 2px lightgray;
}

.info-section > div {
    display: inline-block;
}

.info-section-left {
    max-width: 614px;
    margin-top: 72px;
    text-align: center;
}

.info-section-left img {
    margin-top: 45px;
}

.info-section-right {
    float: right;
}

.info-section-right .shadowed-box {
    margin: 16px;
}

.thin-line {
    margin: 30px 32px 30px 32px;
    height: 1px;
    background-color: lightgray;
}

.width-cell {
    width: 620px;
    padding: 0 80px 32px 40px;
}

.info-section .yellow-button {
    font-family: 'Myriad Pro';
    font-size: 24px;
    font-weight: bold;

    margin-top: 75px;
    width: 156px;
    display: inline;
}

.share-panel {
    display: inline;
    margin: auto auto auto 312px;
}

.share-panel * {
    margin-left: 16px;
}

.share-panel a {
    width: 16px;
    height: 16px;
    background-color: yellow;
}

.shadowed-box p {
    font-size: 24px;
}

.map {
    font-weight: bold;
}