@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    src: local('Myriad Pro'), url('fonts/myriad_pro/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Myriad Pro'), url('fonts/myriad_pro/MyriadPro-Light.woff') format('woff');
}

@font-face {
    font-family: 'Zurichbt Extended';
    src: local('Zurichbt Extended'), url('fonts/zurich_bt/Zurich__Extended_BT.ttf') format('truetype');
}

@font-face {
    font-family: 'Zurichbt Black Extended';
    src: local('Zurichbt Black Extended'), url('fonts/zurich_bt/Zurich__Ultra_Black_Extended_BT.ttf') format('truetype');
}

@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Myriad Pro'), url('fonts/myriad_pro/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: bold;
    src: local('Myriad Pro'), url('fonts/myriad_pro/MYRIADPRO-BOLD.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica LTS';
    font-style: normal;
    src: local('Helvetica'), url('fonts/helvetica_lts/HelveticaLTStd-UltraComp.otf') format('opentype');
}

@font-face {
    font-family: "Bank Gothic";
    font-style: normal;
    src: local("Bank Gothic"), url("fonts/bank_gothic/BankGothic\ Regular.ttf") format('truetype')
}

body {
    font-family: 'Myriad Pro';
    max-width: 1920px;
    margin: 0;
}

body > * {
    margin: 0 auto 0 auto;
}

.header {
    margin-top: 32px;
    width: 100%;
    max-width: 1176px;
}

.header-top {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div {
    width: 100%;
    font-size: 14px;
}

.search {
    max-width: 186px;
}

.search-input {
    max-width: 128px;
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
}

.search * {
    border: none;
    display: inline-block;
}

.search-button {
    width: 14px;
    height: 14px;
}

.logo {
    width: 240px;
    height: 256px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo .bow-text {
    position: relative;
    margin-bottom: -32px;
}

.logo-bold {
    font-family: 'Helvetica LTS';
    font-style: normal;
    font-size: 64px;
    margin-top: 0px;
}

.link {
    color: black;
    text-decoration: none;
}

header .link {
    font-size: 14px;
    font-family: 'Dosis';
    font-weight: 600;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation > * {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-nav {
    max-width: 775px;
}

.header-nav .link {
    font-size: 14px;
    font-family: 'Myriad Pro';
    font-weight: 600;
}

.header-nav .link:hover {
    color: #ffd74a;
}

.header-contacts .link {
    margin-left: 20px;
}

.header-contacts {
    width: auto;
    max-width: 200px;
    float: right;
}

/*
**************************************************************************
*/

.featured {
    position: relative;
    width: 100%;
    height: 840px;
    color: white;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.background-image {
    width: 100%;
    height: 100%;    
}

.featured .background {
    background-image: url("images/first_section_bg.png");
    overflow: hidden;
}

.background .skew {
    margin-top: 14px;
    width: 780px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(0 0%, 40% 0, 100% 100%, 0% 100%);
}

.featured .header {
    position: relative;
    left: 40px;
    top: 150px;
    width: fit-content;
}

.featured .header h {
    font-family: "Bank Gothic";
    font-size: 48px;
}

.featured .header div {
    width: fit-content;
    margin: 0 auto 0 auto;
}

.featured .header p {
    margin-left: 8px;
    display: inline;  
    font-size: 16px;
    font-weight: bold;
}

.featured .article {
    margin: 350px auto auto 40px;
    width: fit-content;
}

.featured .article h {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

.arrow-button {
    width: 50px;
    height: 50px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;   
    border-right: 1px solid white;

    background: url('images/button_arrow.png') no-repeat center;
}

.arrow-button:focus {
    background-color: red;
}

.arrow-button-down {
    transform: rotate(180deg);
}

.featured .content .left {
    float: left;
}

.featured .content .right h {
    font-size: 44px;
    font-family: 'Zurichbt Black Extended';
    margin: 0px;
}

.featured .content .right p {
    margin: 0px;
    font-size: 15px;
    font-weight: 300;
    margin-top: 8px;
}

.featured .content .right {
    float: right;
    margin: -8px 0 0 16px;
    max-width: 500px;
}

.yellow-button {
    position: relative;
    font-family: 'Myriad Pro';
    font-weight: bold;
    text-transform: uppercase;
 
    width: 160px;
    height: 50px;
    background: #ffc908;

    border: none;
}

.yellow-button-arrow {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    background: url('images/yellow_button_arrow.png') no-repeat center;
}

.featured .right .yellow-button {
    margin-top: 30px;
    font-size: 18px;
}

.featured .selectors {
    margin-top: 42px;
}

.featured .selectors .selector {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

/*
**************************************************************************
*/

.about {
    display: flex;
    flex-direction: row;
    height: 720px;
    width: 100%;
}

.shadowed-box {
    background-color: white;
    box-shadow: 5px 5px 2px 2px lightgray;
}

.shadowed-box .thin-line {
    max-width: 90%;
}

.about > div {
    display: inline-block;
}

.about-left {
    max-width: 614px;
    margin-top: 72px;
    text-align: center;
}

.about-left img {
    margin-top: 45px;
}

.about-right {
    margin-left: 32px;
    max-width: 1200px;
    overflow: hidden;
}

.about-right .shadowed-box {
    margin: 16px;
}

.wide-cell {
    width: 520px;
    padding: 0 128px 32px 40px;
}

.about .yellow-button {
    font-family: 'Myriad Pro';
    font-size: 24px;
    font-weight: bold;

    display: inline;
}

.share {
    display: inline;
    margin: auto auto auto 64px;
}

.share p {
    margin-right: 32px;
    color: #a8aeae;
}

.share * {
    display: inline-block;
}

.share .link{
    margin-left: 16px;
    width: 24px;
    height: 24px;

    background-size: contain;
    background-repeat: no-repeat;
}

.link-facebook {
    background-image: url("images/share_facebook.png");
}

.link-instagram {
    background-image: url("images/share_instagram.png");
}

.link-twitter {
    background-image: url("images/share_twitter.png");
}

.share-panel .link {
    width: 32px;
    height: 32px;
}

.shadowed-box p {
    font-size: 24px;
}

.map-box {
    max-width: 600px;
    font-weight: bold;
    padding-bottom: 16px;
}

.narrow-cell {
    width: 512px;
    height: 608px;
}

.second-cell {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.second-cell, .fourth-cell {
    position: relative;
    z-index: 10;
}

.second-cell {
    left: -64px;
}

.fourth-cell {
    left: -256px;
    padding-left: 200px;
    z-index: -1;
}

.second-cell .yellow-button {
    margin: auto;
    background: transparent;
    border: solid 2px white;
    color: white;
}

.third-cell {
    position: relative;
    top: -78px;
}

.third-cell .background {
    z-index: 0;
}
